
body{
  overflow-x: hidden;
}

nav.navbar{
  background-color: @softOrange;
  
  ul.navbar-nav.d-flex {
    justify-content: space-evenly;

    li.nav-item a.nav-link.nav-a {
      color: #fff;
    }
  }
}

footer{
  background-color: @softOrange;
  padding: 1rem;

  div.d-flex{
    max-width: 1200px;
  }

  nav {

    ul{
      list-style: none;
      margin-bottom: 0;

      span{
        color: #fff;
        padding: 0 1em;
      }

      li a{
        color: #fff;

      &:hover{
        color: @ironGrey;
        text-decoration: none;
      }

      &:visited{
        color: #fff;
      }

      }
    }
  }
} // end footer

/*****************************
  hero header
******************************/

header.hero{
  height: 100vh;
  position: relative;
  top: -56px;

  div.jumbotron.jumbotron-fluid{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media @mb_desktop_up{
    }
  } // end jumbotron
} // end header.hero


/*****************************
  Decorations
******************************/

#bottomToRightTri(){
  clip-path: polygon(0 50% , 0% 100%, 100% 100%);
}

#bottomToLeftTri(){
  clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}

#topToRightTri(){
  clip-path: polygon(100% 0, 0 0, 100% 50%);
}

#topToLeftTri(){
  clip-path: polygon(100% 0, 0 0, 100% 50%);
}

#accentTri1(){
  clip-path: polygon(50% 0, 0 0, 50% 60%);
}

#accentTri2(){
  clip-path: polygon(50% 0, 50% 60%, 100% 0);
}

 #spacer(@bgc){
    position: absolute;
    width: 100%;
    background-color: @bgc;
 }    

#rightTri(@bgc){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @bgc;
  #bottomToRightTri();
}

#leftTri(@bgc){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @bgc;
  #bottomToLeftTri();
}
  

/*****************************
  Thumbnail backgrounds
******************************/
.bg-happy_person(){
    width: 250px; height: 250px;
    background: url('css_sprites.png') -10px -10px;
}

.bg-happy_person_2(){
    width: 250px; height: 250px;
    background: url('css_sprites.png') -280px -10px;
}

.bg-happy_person_3(){
    width: 250px; height: 250px;
    background: url('css_sprites.png') -10px -280px;
}
